<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>Overlay Result</title>
</head>
<body>
  <div class="topnav">
    <h1>Overlay Result</h1>
  </div>
  <div class="container">
    <img src="./static/success.png" alt="SUCCESS">
    <p>Overlayed images saved in directory: {{ result_dir }}</p>
  </div>
</body>
</html>
